:root {
    --primary-color: #FFC107;
    --secondary-color: #1976D2;
    --accent-color1: #D32F2F;
    --accent-color2: #616161;
  }
  
  body {
      background-color: var(--primary-color);
      color: var(--accent-color2);
  }
  
  h1 {
      color: var(--secondary-color);
  }
  
  h2 {
      color: var(--accent-color1);
  }
  
  p {
      color: var(--accent-color2);
  }
  
  a {
      color: var(--accent-color1);
      text-decoration: none;
  }
  
  a:hover {
      color: var(--primary-color); 
  }
  
  button {
      background-color: var(--secondary-color);
      color: white;
  }
  
  button:hover {
      background-color: var(--accent-color1);
  }
  
  .sociallinks a {
      text-decoration: none;
  }
  
  .sociallinks a:hover {
      color: var(--primary-color);
  }
  
  main {
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .hero {
      position: relative;
      background-image: url('images/rafting.jpg');
      background-size: cover;
      height: 4400px;
  }
  
  .hero img {
      display: block;
      width: 100%;
      height: auto;
  }
  
  .hero h1 {
      position:absolute;
      top: 20%;
      left: 5%;
      color: var(--secondary-color);
      font-size: 3rem;
  }
  
  .hero article {
      position:absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      color: var(--accent-color2);
      background-color: rgba(0,0,0,0.6);
      padding: 20px;
      border-radius: 8px;
  }
  
  .hero article img {
      float: right;
      margin-left: 20px;
      width: 200px;
  }

  .roboto-slab-custom {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}